* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: rgba(8, 67, 145);
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 10000;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    color: rgb(255, 204, 0);

    .logo {
      font-size: 30px;
      display: flex;
      font-weight: bold;
      p {
        color: white;
        padding-left: 20px;
      }
    }
    .links {
      a {
        text-decoration: none;
        color: white;
        margin-right: 20px;
        padding: 10px;
        border-radius: 8px;
      }
      a:hover {
        background-color: white;
        color: rgba(8, 67, 145, 0.96);
      }
      .dropdown-content {
        display: none;
        background-color: white;
        border-radius: 8px;

        a {
          display: block;
          color: black;
          padding: 10px;
        }
        a:hover {
          background-color: rgb(230, 242, 246);
          color: #0a5a86;
          width: 100%;
        }
      }
      .dropdown {
        display: inline-block;
        position: relative;
        margin-top: 11px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        color: white;
      }
      .dropdown:hover {
        background-color: white;
        color: rgba(8, 67, 145, 0.96);
      }

      .dropdown:hover .dropdown-content {
        display: block;
        position: absolute;
        cursor: pointer;
        width: 200px;
        margin-top: 10px;
      }
    }
  }
}

main {
  .section1 {
    position: relative;
    height: 450px;
    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
    .content {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      h1 {
        font-size: 60px;
      }
      p {
        font-size: 20px;
        padding-top: 10px;
      }
    }
  }
  .section2 {
    background-color: rgba(173, 216, 230, 0.107);
    padding: 100px;
    text-align: center;

    h4 {
      color: #0077b6;
    }
    h1 {
      font-size: 40px;
      padding: 20px 0px;
    }
    p {
      color: rgb(95, 95, 95);
      font-size: 18px;
      line-height: 1.6;
    }

    .cards {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 50px;
      text-align: start;

      .card {
        width: 330px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        transition:0.6s;


        img {
          width: 330px;
          height: 250px;
          object-fit: cover;
          transition: 1s;
        }

        img:hover{
          transform:scale(1.1);
        }  

        .img {
          position: relative;
          overflow: hidden;
          border-radius: 10px 10px 0px 0px;


        }
        .tag {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: red;
          color: white;
          font-size: 12px;
          padding: 8px 15px;
          border-radius: 30px;
          font-weight: bold;
        }
        .detaile {
          padding: 15px;
          text-align: start;

          p {
            color: #555555;
            font-size: 16px;
            padding: 5px 0px;
          }

          .price {
            color: #0077b6;
            display: inline;
            font-size: 30px;
            font-weight: bold;
          }

          p {
            .fa-location-dot {
              color: #0077b6;
            }
            .fa-check {
              color: green;
              font-size: 13px;
              padding-right: 10px;
            }
          }
          a {
            button {
              border: none;
              border-radius: 10px;
              background-color: #0079b6;
              padding: 15px;
              width: 100%;
              color: white;
              font-weight: bold;
              font-size: 18px;
              cursor: pointer;
              margin-top: 20px;
            }
            button:hover {
              background-color: #105b7e;
            }
          }
        }
      }
      .card:hover{
        transform:translateY(-10px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
      }
    }
  }
  .section3 {
    text-align: center;
    padding: 50px;

    h1 {
      font-size: 40px;
      padding-bottom: 60px;
    }
    .cards {
      display: flex;
      gap: 50px;
      justify-content: center;

      .card {
        width: 200px;
        color: #0077b6;
        .fa-shield-halved,
        .fa-headset,
        .fa-wallet,
        .fa-star {
          font-size: 40px;
        }
        h4 {
          color: black;
          padding: 10px 0px;
        }
        p {
          color: #555555;
          line-height: 1.6;
        }
      }
    }
  }
  .section4 {
    background-color: rgba(173, 216, 230, 0.107);
    padding: 70px 100px;
    position: relative;
    color: white;
    img {
      width: 100%;
      height: 260px;
      object-fit: fill;
      border-radius: 25px;
    }
    .content {
      display: inline-block;
      position: absolute;
      text-align: center;
      align-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 68, 184, 0.5);
      border-radius: 25px;
      width: 1320px;
      height: 260px;

      p {
        padding: 20px 0px;
      }
      button {
        border: none;
        background-color: orange;
        padding: 15px 25px;
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
      }
    }
  }
}

footer {
  background-color: #023047;
  color: white;
  padding: 50px 100px;
  .footer {
    display: flex;
    justify-content: center;
    gap: 40px;

    .infos {
      width: 600px;
      h1 {
        color: orange;
      }
      p {
        text-align: start;
        padding: 20px 0px;
      }
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #0077b6;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        transition: 0.5s;
      }
      a:hover {
        transform: translateY(-5px);
        background-color: orange;
        color: black;
      }
    }
    .links {
      color: orange;
      width: 300px;
      a {
        display: block;
        color: white;
        text-decoration: none;
        padding-top: 10px;
        transition: 0.5s;
      }
      a:hover{
        transform: translateX(5px);
        color: orange;
      }
    }
  }

  hr {
    margin: 20px 0px;
  }
  p {
    text-align: center;
  }
}

